*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 
 
}

/*Barra de inicio vertical*/
.nav{

width: 100%;
height: 90px;


}

#div-nav{
     
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
   border-bottom: 2px #09223b solid;
   width: 100%;
   margin-top: 5px;

}

#div-ul{

  
   width: 30%; 
   flex-shrink: 2;
 

}

#div-nav2{
width: 100%;
display: flex;
justify-content: flex-end;

}

#ul{
    list-style-type: none;
}

#ul-div2{
    margin-top: 10px;
    width:60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 5%;
  
    
}

/*items de barra vertical */
.li-a{
    font-size: larger;
    font-weight: 300;
    text-decoration: none;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.li-2{
 
 margin:0 10px 10px 0;


}

#div-luna{
    width: 30px;
    height: 30px;
    position: relative;
    font-size: large;
    object-fit: contain;
    z-index: 3;
  
}

#img-luna{
    position: absolute;
    bottom: 15%;
    right: 20%;
   height: 100%;
  width: 100%;
  z-index: 10;


}

/*boton de menu desplegable*/





#div-boton-menu-oculto{
    display: none;
}



/* titulo de port barra vertical*/

#tittle-port{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#text-port{
    color: #017047;
    font-size: xx-large;
    font-weight: 600;
}
/*main*/
#main{
   margin-top: 50px; 
}

#big-dain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    position: relative;
    left: 7%;
}

.div-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
   
}

#div-main-parrafos{

display: flex;
flex-direction: column;
}

#links{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#div-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.parrafos-clases{

 display: flex;
 justify-content: center;
 align-items: center;


}

.name-main{
    font-size: 50px;
    font-weight: 900;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #004E64;
}

.name1{
    margin-bottom: 0px;
}

.name2{
    margin-top: 0px;
}

/*CONTENEDOR DE LAS IMAGENES CON LINKS DE REDES*/

#links{

display: flex;
justify-content: center;
margin: 2%;


}

#div-links{

display: flex;
margin:8%;
}



#div-cv{
    display: flex;
    justify-content: center;
    
}




#div-img {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos en el centro */
    justify-content: center; /* Alinea horizontalmente los elementos en el centro */
    position: relative; /* Necesario para que los elementos absolutamente posicionados se alineen con respecto a este contenedor */
    flex-direction:column;
}

#contenedor-de-imagen{
    position: relative;
}


#morpher-oculto{

    background-color: #8B0000;
position: absolute;
height: 100%;
width: 100%;
display: none;

}

#div-superponer{
    position: absolute; /* Posiciónalo en relación con el contenedor padre */
    top: 1%; /* Puedes ajustar la posición según sea necesario */
    left: 0%; /* Puedes ajustar la posición según sea necesario */
    width: 100%; /* Opcional: ajusta el ancho para cubrir la imagen */
    height: 86.6%; /* Opcional: ajusta la altura para cubrir la imagen */
    background-color: rgba(255, 0, 0, 0.5); /* Ejemplo de fondo semitransparente para ver el efecto de superposición */
    z-index: 1; /* Asegúrate de que tenga un z-index mayor que el de otros elementos si es necesario */
   border-radius: 70%;
   opacity: 0;
  

}


.superponer{
    animation: trans 5s infinite ;



}

@keyframes trans{
    5%{opacity: 0;}
    10%{opacity: 1;}
    20%{opacity: 0;}
    30%{opacity: 1;}
    40%{opacity: 0;}
    50%{opacity: 1;}
    60%{opacity: 0;}
    70%{opacity: 1;}
    80%{opacity: 0;}
    90%{opacity: 1;}
    100%{opacity: 0;}
}




.img{
    width: 11em;
    border-radius: 50% ;
    object-fit: cover;
    border: 3px solid #F0F8FF;
    display: block;
    height: 40%;
    display: block; /* Opcional: elimina el espacio inferior de la imagen, puede ser útil en algunos casos */

    


}

.img:hover,
.img:focus { 
  filter: brightness(0.4);
  transition: 0.6s;
  
}




#buttonA-cv{

text-decoration: none;
color: black;

}





#button-linkedin{

width: 40px;
height: 40px;


}


#github-button{

 height: 40px;
 width: 60px;

}

#email-button{

    height: 40px;
    width: 40px; 

}




/* CSS BOTONES*/

/*BOTON MORPHER*/



.morpher-button {
    align-items: center;
    background-color: #D0321D;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #F0F8FF;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 100px;
    padding: 10px 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1), color 0.167s cubic-bezier(0.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.morpher-button:hover,
.morpher-button:focus {
    background-color: #8B0000;
    color: #ffffff;
    outline: none;
}

.morpher-button:active {
    background: #8B0000;
    color: rgba(255, 255, 255, 0.7);
}

.morpher-button:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.3);
}




/*BOTON CV*/

.boton-18 {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #F0F8FF;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.boton-18:hover,
.boton-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.boton-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.boton-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

/*ZONA PROYECTOS*/


#text-p{
    
    margin-top: 3%;
    margin-left: 6%;
    

}


#container-grilla{

display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 20em 20em;
margin-top: 2%;
width: 80%;
margin-left: 11%;


}

.grilla{
    margin: 5%;
    background-color: #0A66C2;
   height: 70%;
    overflow: hidden;
    

}

.grilla img{

width: 100%;
height: 100s%;
object-fit: contain;

}

/*PIE DE PAGINA (CONTACTO)*/

#pie-de-pagina{
width: 100%;
height:25em;
margin-top: 5%;

}

#div-pie-de-pagina{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

}


.form-control{
    width: 14em;
}

.contacto{
margin-left: 6%;
width: 80%;

}



#floatingTextarea2{
margin-top: 3.5%;
margin-left: 6%;
width: 60%;
height: 8em;


}

#label-textarea{

    margin-left: 6%;
}

.col-auto{

    margin-left: 6%;
    margin-top: 3%;
    

}


#button-enviar{
    width: 120px;
}

/*PARTE DE TECNOLOGIAS*/

#div-tecnologias{

display: flex;
flex-direction:column;
width: 40vw;
height: 40vh;

}

.tecnho-img{
    width: 70%;
    height: 30vh;
    overflow: hidden; 
    display: flex;
    flex-direction: row;
}

.tecnho-img img{
    width: 30%;
    height: 30%;
    object-fit: contain;
    margin:15px 0px 0px 0px;
}

