
<main>
    <nav class="nav" id="nav-bar">
        <div id="div-nav">
        <ul>
            <li>
                Portfolio
            </li>
        </ul>
        </div>
        <div id="div-nav2">
        <ul id="ul-div2">
            <li class="li-2">
               <a href="#"> About Me</a>
            </li>
            <li class="li-2">
                <a href="#">Proyects</a>
            </li >
            <li>
               <a href="#">Contact</a>
            </li>
        </ul>
        </div>
    </nav>
</main>