
<header>
    <nav class="nav" id="nav-bar">
        
        <div id="div-nav">
        <ul id="ul-div">
            <li class="li-2" id="tittle-port">
                <p id="text-port"> Portfolio</p> 
            </li>
        </ul>
        </div>
        <div id="div-nav2">
        <ul id="ul-div2">
            <li class="li-2">
               <a href="#" class="li-a"> About Me</a>
            </li>
            <li class="li-2">
                <a href="#" class="li-a">Proyects</a>
            </li >
            <li class="li-2">
               <a href="#" class="li-a">Contact</a>
            </li>
                <div id="div-luna">
                <button id="buttom-luna">
                  
                </button>
                </div>
        </ul>
        </div>
       
    </nav>
</header>
<main id="main">
    <div class="div-main">
        <p class="name-main" id="name1">
           Alejandro 
        </p>
        <p class="name-main" id="name2">
         Maza
        </p>
        <p>Hi, I'm a trainee developer </p>
        <div>
            <button><a href="https://www.linkedin.com/in/alejandro-maza-1a24b2251" target="_blank"><img class="blank-img" src="/img/logo-linkedin.png" alt=""></a></button>
            <button><a href="" target="_blank"><img class="blank-img" src="/img/R (2).png" alt=""></a></button>
            <button><a href=""><img class="blank-img" src="/img/email-logo-png-19.png" alt=""></a></button>
        </div>
        <div>
            <button>Descargar cv</button>
            </div>
    </div>
    <div class="div-main" id="div-img">
        <img class="img" src="/img/Myself.png" alt="">
    </div>
</main>