
<header>
    <nav class="nav" id="nav-bar">
        
        <div id="div-nav">
        <ul id="ul-div">
            <li class="li-2" id="tittle-port">
                <p id="text-port"> Portfolio</p> 
            </li>
        </ul>
        </div>
        <div id="div-nav2">
        <ul id="ul-div2">
            <li class="li-2">
               <a href="#" class="li-a"> About Me</a>
            </li>
            <li class="li-2">
                <a href="#" class="li-a">Proyects</a>
            </li >
            <li class="li-2">
               <a href="#" class="li-a">Contact</a>
            </li>
                <div id="div-luna">
                <button id="buttom-luna">
                  
                </button>
                </div>
        </ul>
        </div>
       
    </nav>
</header>
<main id="main">
    <div id="big-dain">
    <div class="div-main" id="div-1">
        <div id="div-main-parrafos">
         <div class="parrafos-clases"> 
        <p class="name-main" id="name1">
           Alejandro 
        </p>
         </div>
         <div class="parrafos-clases">
        <p class="name-main" id="name2">
         Maza
        </p>
         </div>
         <div class="parrafos-clases">
        <p>Hi, I'm a trainee developer </p>
         </div>
        </div>
        <div id="links">
            <div id="div-links">
            <a href="https://www.linkedin.com/in/alejandro-maza-1a24b2251" target="_blank" class="blank-img"><img src="/img/logo-linkedin.png"  id="button-linkedin" alt=""></a>
            <a href="" target="_blank" class="blank-img"><img id="github-button" src="/img/R (2).png" alt=""></a>
            <a  href="" class="blank-img"><img id="email-button" src="/img/email-logo-png-19.png" alt=""></a>
        </div>
        <div id="div-cv">
            <button id="button-CV" class="boton-18" role="button"><a id="buttonA-cv" download="Alejandro_Maza" href="/documents/Alejandro_Maza_Cv.pdf">Descargar Cv</a></button>
            </div>
            </div>   
    </div>
    <div id="div-img">
        <img class="img" src="/img/Myself.png" alt="">
       <div id="div-superponer"></div>
        <div id="div-mopher">
        <button id="morpher">It's morphin' Time!</button>
        </div>
    </div> 
     </div>
    
    





 





    <div id="div-proyecto">
        <div id="text-p">
            <h2 id="h2-parrafo">Proyectos</h2>
        </div>
        <div id="container-grilla">
            <div class="grilla"></div>
            <div class="grilla"></div>
            <div class="grilla"></div>
            <div class="grilla"></div> 
        </div>
    </div>
</main>
